@{
    ViewData["Title"] = "Authentication";
}
<h1>@ViewData["Title"]</h1>

<p>This section is protected by authentication only (no special authentication required).</p>
<p>This page is protected by Middleware.</p>
