@{
    ViewData["Title"] = "Authorization";
}
<h1>@ViewData["Title"]</h1>

<p style='font-size : 300%'>You are logged in!!!</p>
<p>This redirects to the authentication service if not authenticated.</p>
