@{
    ViewData["Title"] = "Authorization";
}
<h1>@ViewData["Title"]</h1>

<p style='font-size : 300%'>You are logged in!!!</p>
<p>This redirects to the authentication service if not authenticated.</p>

<p>UserInfo:</p>
<table>
    <tr>
        <td>Email:</td>
        <td>@Model.email</td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>@Model.name</td>
    </tr>
    <tr>
        <td>OID:</td>
        <td>@Model.oid</td>
    </tr>
</table>
